li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.thumbnail {
	width: 200px;
	height:200px;
	margin-top: 10px;
	margin-right: 30px;
	margin:auto;
}

body {
	color:black;
	max-width: 960px;
	margin:auto;
	background: orange;
	text-align: center;
}

h1{
	color: red;
}

.noteatten {
	float: left;
}

.eatten{
	float: right;
}

.enter{
	clear:both;
}

.button{
	float: right;
}

.burgerName{
	float: left;
}