li {
  padding: 10px;
  margin: 10px;
  background: #faebd7;
  list-style-type: none;
}

.thumbnail {
	width: 200px;
	height:200px;
	margin:auto;
}

body {
	color:black;
	max-width: 960px;
	margin:auto;
	background: orange;
	text-align: center;
}

h1{
	color: red;
}

.noteatten {
	float: left;
}

.eatten{
	float: right;
}

.enter{
	clear:both;
}

.burgerName{
	float: left;
}
.button{
	float: right;
	clear:both;
}

button:hover {
	background-color: grey;
	color: white;
}

.submit{
	background-color:blue;
	color: white;
	padding: 10px;
	margin: 10px;
}

